.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 270px;
  background: var(--primary);
}

.navbar:hover {
  border-right: 3px solid var(--deep-blue);
}

.navbar .logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: -13px;
  color: var(--text-light);
}

.navbar .logoContainer h1 {
  font-size: 2rem;
  font-weight: 900;
}

.navbar .logoContainer span {
  color: var(--main);
}

.navbar .logoContainer button {
  display: flex;
  align-items: center;
  height: 23px;
  margin-left: 10px;
  font-size: 2.1rem;
  border-radius: 20px;
  border: none;
  color: var(--secondary);
}

.navbar .logoContainer button:hover {
  background: var(--light-blue);
  box-shadow: 0 0 7px var(--deep-blue);
}

.navbar .listContainer {
  height: 100%;
  margin-top: 20px;  
  padding-top: 20px;
  background: var(--secondary);
  overflow-y: auto;
}

.listContainer .searchBar input{
  border: 2px solid var(--secondary);
  margin-left: 15px;
  border-radius: 5px;
  height: 30px;
  width: 80%;
  margin-bottom: 15px;
  background: rgba(183, 181, 179, 0.5);
  color: var(--text-light);
}

.listContainer .searchBar input::placeholder {
  color: var(--text-light);
}

.listContainer .searchBar input:focus {
  box-shadow: 0 0 7px var(--deep-blue);
  transition: 1s;
}

.listContainer .list {
  display: block;
}

.listContainer .list ul {
  list-style: none;
  padding: 0;
}
