:root {
  --main: #fdc500;
  --primary: #000;
  --secondary: #353535;
  --text-light: #fdfdfd;

  --deep-blue: #0582ca;
  --light-blue: #5fa8d3;
}

html {
  /* Considera um 1rem = 10px */
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


* {
  box-sizing: border-box;
  outline: 0;
}
